body{
    background-color: white;
    font-family: Didot, serif;
    margin: 0px;
  }
  .nav-bar{
    width: 100%;
    background-color: #766378;
    overflow: hidden;
  }
  /* Drop Down Div*/
  .dropdown{
    float: left;
    height: 5em;
    overflow: hidden;
  }
  /*sbLogo Div*/
  .sblogo{
    float: left;
    height: 5em;
  }
  /*Right-icon Div*/
  .right-icon{
    float: right;
    height: 5em;
    padding-right: 0.25em;
  }
  /*Icons Images*/
  .icons{
    height: 1.5em;
    width: auto;
    padding-left: 0.5em;
    padding-top: 1.75em;
    padding-right: 0.5em;
    padding-bottom: 1.75em;
  }
  /*Drop Down Button*/
  .dropbtn{
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background: #373138;
    padding: 0px;
    margin: 0px;
  }
  /* Dropdown content (hidden by default) */
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #cfcfce;
    min-width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: inherit;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    float: center;
    color: white;
    background-color: #766378;
    padding: 1em 1em;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover{
    background-color: #373138;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo{
    width: 30%;
    height: auto;
  }
  .homeDescription{
    text-align: center;
    padding: 1.5em 1em 1.5em 1em;
    font-size: 1em;
  }
  .pageTitle{
      background-color: #B8B8B8;
      text-align: center;
      padding: 0.75em;
  }
  h1{
    color: white;
    font-size: 1em;
  }
  img{
      max-width: 100%;
  }
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: #766378;
  }
  .addbag{
    background-color: #766378;
    color: white;
    font-size: 1em;
    font-family: inherit;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    height: auto;
    padding-bottom: 0.5em;
  }
  .bag {
    height: 1.25em;
    padding-left: 0.25em;
    padding-top: 0.25em;
  }
  .bride-container{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 7%;
    margin-right: 7%;
  }
  .bride-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }
      /* For mobile phones: */
    @media screen and (min-width: 600px){
        .bride-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      /*For desktop*/
    @media screen and (min-width: 768px){
        .bride-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
  /* Footer Content */
  footer{
    background-color: #373138;
    width: 100%;
    text-align: center;
    color: #cfcfce;
  }
  .top{
    width: 100%;
    height: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: white;
  }
  .top a{
    text-decoration: none;
    color: #373138;
    position: center;
  }
  .top a:hover{
    text-decoration: none;
    color: #766378;
    position: center;
  }
  .footerText{
      padding: 0.25em;
    }
  .socialLinks{
      padding: 0.25em;
      background-color: #eeeeee;
    }
  .socials{
      width: 20px;
      height:auto;
      padding-top: 2em;
      padding-bottom: 2em;
      padding-right: 1em;
      padding-left: 1em;
    }
  .siteLinks{
      padding: 0.25em;
      padding-bottom: 1em;
    }
  .siteLinks a{
      color: #cfcfce;
      text-decoration: none;
    }
  .siteLinks a:hover{
      color: white;
      text-decoration: none;
    }
  .siteLinks a:visited{
      text-decoration: none;
    }

ol , ul {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}
legend ul{
  text-align: left;
  padding: 0em;
}
fieldset {
  border: none;
}
#salePrice{
  color: red;
}
  